.btn {
  padding: 12px;
  margin: 10px;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: yellow;
}

.tertiary {
  background-color: purple;
}

.iconSmall {
  padding: 8px;
}

.iconMedium {
  padding: 18px;
}

.iconLarge {
  padding: 26px;
}
